.App {
  text-align: center;
}

.workoutsContainer{
  flex-direction: column;
  display: flex;
  width: 70%;
  padding: 50px;
}


.workoutBox {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  border-color: blueviolet;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.workoutBox div {
  cursor: pointer;
}

.workoutBox div:hover{
  color: blueviolet;
}

.addWorkout {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  border-color: maroon;
  border-width: 2px;
  padding: 10px;
}

.addWorkout:hover {
  cursor: pointer;
  color: blue;
}

.exercise{
  border-color: red;
  border-right: 2px;
  color: rgb(125, 165, 165);
}

.removeButton {
  color: crimson;
  font-weight: bold;
}


